@import 'config';
 
//Mire való????
* {
  box-sizing: border-box;
}

body{
  @include background;
  background-color: $primary-color;
  color:white;
  height:100%;
  margin:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}


//Headings

h1,h2,h3 {
  margin:0;
  font-weight: 400;

  &.lg-header {
    font-size: 6rem;
  }
  
  &.sm-header {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2),0.5);
  }
} 

a {
  color:#fff;
  text-decoration: none;
}

header {
  position: fixed; //menu position remain fixed on the top
  z-index: 2; //milyen közel van hozzád, minél nagyobb annál közelebb
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  //here it is nested so only for icons inside main
  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color:$secondary-color;
        @include easeOut();
      }
    }
    
  }

  &#home {
    overflow: hidden; //no scrollbar

    h1 {
      margin-top: 20vh; //vh: imagnie screen is sliced to 100 and it takes 20 || wh do the same only in horizontal
    }
  }
}